# Server Configuration
PORT=4000
APP_NAME=HustleHub
NODE_ENV=development
CLIENT_ORIGIN=http://localhost:5173

# HTTPS Configuration
USE_HTTPS=true
SSL_KEY_PATH=./certs/localhost-key.pem
SSL_CERT_PATH=./certs/localhost-cert.pem

# JWT Configuration
JWT_SECRET=f4ocPhmyGRuVLRiUFnkJHMU5HfMNpQfia/VfqB00nr61p1X7ay6ECHgL9T5eMTzemWeScZw36Lc0KjSVrPaS6Q==
JWT_EXPIRES_IN=1h
SALT_ROUNDS=12